---
// src/layouts/BaseLayout.astro
const { title, description, url = Astro.url.href } = Astro.props;
import "../styles/global.css";
import "@fontsource-variable/playfair-display"; /* auto includes @font-face */
import "@fontsource/merriweather";
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description ?? 'Explore the Singerman Bibliography of Judaica Americana'} />
    <meta name="keywords" content="Singerman, Judaica, Americana, Jewish Books, Bibliography, Hebrew, American Jewish History" />
    <meta name="author" content="Judaica Digital Humanities at Penn Libraries" />
    <meta property="og:title" content={title ?? "Robert Singerman’s Judaica Americana II"} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:site_name" content="Robert Singerman’s Judaica Americana II" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title ?? "Robert Singerman’s Judaica Americana II"} />
    <meta name="twitter:description" content={description} />
    <link rel="canonical" href={url} />

    <title>{title ? `${title} | Robert Singerman’s Judaica Americana II` : `Robert Singerman’s Judaica Americana II by Judaica DH at Penn Libraries`}</title>
        </head>
        <body class="bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100">        <header class="p-4 shadow bg-white">
            <div class="max-w-7xl mx-auto flex justify-between items-center">
                <a href="/" class="text-xl font-bold text-blue-900">Judaica Americana II by Robert Singerman</a>
            </div>
        </header>
        <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
            <slot />
        </main>
        <footer class="p-6 bg-white dark:bg-gray-800 border-t mt-12 text-center text-sm text-gray-500 dark:text-gray-400">
            © {new Date().getFullYear()} <span class="italic">Robert Singerman’s <i>Judaica Americana II</i></span><br />
            Curated and maintained by <span class="font-medium">Judaica Digital Humanities at Penn Libraries</span>.
        </footer>
        </body>
</html>